html, body, .root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

#map {
  height: 100%;
  width: 100%;
}

.sideBar {
  width: 25%;
  height: 100%;
}
